body {
    font-family: sans-serif;
    color: white;
    padding: 0;
    margin: 0;
  }

  .wrapper {
    height: 100%;
  }

  .nav-wrapper {
    background-color: black;
    padding: 1em;
    display: flex;
    width: 100%;
    align-items: center;
    border: 2px solid yellow;
  }
  
  .left-nav {
    display: flex;
    align-items: center;
    flex: 50%;
    border: 2px solid lightblue;
  }
  
  #logo {
    display: block;
    max-width:210px;
    max-height:47px;
    width: auto;
    height: auto;
    border: 2px solid red;
  }
  
  .nav-grid {
    display: flex;
    flex-direction: column;
    margin-left: 6%;
    width: 50%;
    border: 2px solid white;
  }
  
  .explore {
    color: yellow;
    font-size: 1.5em;
    border: 2px solid greenyellow;
  }
  
  
  .links-wrapper {
    flex: 60%;
    width: 80%;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    border: 2px solid teal;
  }
  
  .links-wrapper div {
    font-size: 1.5em;
    font-weight: 600;
  }
  
  .links-wrapper .spark{
    color: grey;
    font-weight: 400;
    margin-left: 8%;
  }
  .links-wrapper div:last-child {
    color: grey;
  }
  
  
  .right-nav {
    padding-right: 30px;
    flex: 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid purple;
  }
  
  .green-arrow {
    color: lightgreen;
  }
  
  .btn {
    background-color: rgb(54,56,63);
    font-weight: 700;
    padding: 1.2rem 1.75rem;
      border-radius: 2px;
  }
  
  .mag-glass {
    font-size: 2.5em;
  }
  .main {
    width: 100%;
    height: 1vh;
    background-image: radial-gradient(top left, rgb(70, 70, 70) 1%, black 100%);
    background-image: -webkit-radial-gradient(top left, rgb(70,70,70) 1%, black 100%);
    height: 800px;
    border: 2px solid rgb(173, 105, 173);
  }
  
  .main-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3em;
    border: 2px solid rgb(62, 233, 204);
  }
  
  .right-side {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border: 2px solid rgb(82, 233, 62);
    text-align: right;
  }

  .right-wrapper {
    border: 2px solid rgb(62, 199, 233);
    height: 100%;
  }

  .right-side h5 {
    font-size: 1.25em;
    border: 1px solid rgb(167, 233, 62);
    display: flex;
    width: 70%;
    float: right;
  }
  
  .right-side > .right-wrapper > img{
    width: 70%;
  
  }

  .left-side {
      padding: 50px 0px 0px 32px;
      font-size: 3em;
      color: rgb(165, 164, 164);
      border: 2px solid rgb(233, 179, 62);
  }

  .highlighted-text {
    font-weight: 700;
    color: white;
  }

  .projects-text {
      color: rgb(111, 216,248);
  }

  .bottom-text {
      margin: 1em 0;
  }

  .sign-up {
      font-size: 0.7em;
      background-color: rgb(75,206,121);

  }

  .learn-more {
      color: white;
      background-color: black;
      outline: none;
      font-size: 0.7em;
  }

  .footer-grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      text-align: center;
      
    }
    
    .footer-item {
        padding: 0.5em 1.5em;
        border: 2px solid white;
        border-collapse: collapse;
        padding: 1.5em 0;
        background-color:rgb(54, 56, 63);
        font-weight: 600;
  }

  .bold-text {
      font-size: 1.5em;
      font-weight: 900;
  }
